---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 96
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Linux
IndentCaseLabels: false
PointerAlignment: Right
SortIncludes: true
SpaceAfterCStyleCast: false
